@import "../../global.scss";

.topbar {
  width: 100%;
  height: 70px;
  background-color: $background;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn_top_bar {
      background: $light-blue-color;
      color: white;
      font-size: 20px;
      font-weight: 500;
      padding: 2px 20px;
      margin-top: 20px;
      border-radius: 6px;
      margin: 10px;
      transition: all 0.3s ease;
      text-decoration: none;
      border: none;
      cursor: pointer;
      text-transform: uppercase;

      @include mobileS {
      font-size: 15px;
      }
    }

    .btn_top_bar:hover {
      color: white;
      background: $hover-button;
      text-decoration: none;
    }

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 35px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
        color: $hover-button;

        @include mobileS {
          display: none;
        }

        @include mobileS {
          font-size: 25px;
        }

        a {
          font-size: 35px;
          font-weight: 600;
        }

        span {
          color: $hover-button;
          transition: all 0.3s ease;

          @include mobileS {
            display: none;
          }
        }
      }

      .top_bar_langages {
        display: flex;
        align-items: center;
        margin-left: 30px;
        @include mobile {
          display: none;
        }
        @include mobileS {
          display: flex;
          margin-left: 0px;
          margin-right: 10px;
        }
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;
        @include mobile {
          display: none;
        }
        @include computer {
          display: none;
        }

        .icon {
          font-size: 18px;
          margin-right: 5px;
        }

        a {
          font-size: 15px;
          font-weight: 400;
          color: $hover-button;
        }
      }
    }
  }

  .right {
    .hamburger {
      width: 32px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      span {
        width: 100%;
        height: 3px;
        background-color: $blue-menu;
        transform-origin: left;
        transition: all 2s ease;
      }
    }
  }

  &.active {
    background-color: $blue-menu;
    color: $background;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
