@import "../../global.scss";

.teams {
  box-sizing: border-box;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    @include mobile{
      width: 100%;
    }

    @include computer{
      width: 100%;
    }
  }
}
