@import "../../global.scss";

.teams {
  box-sizing: border-box;
.title{
  @include mobileS {
    font-size: 1.6rem;
  }
}


  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    @include mobile {
      width: 100%;
    }
    @include computer {
      width: 100%;
    }
  }
}
