@import "../../global.scss";

.portfolioList {
  font-size: 18px;
  margin-right: 50px;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
  color: $text-color;

  a {
    text-decoration: none;
  }


  @include mobile{
  margin: 0;
  }

  &.active{
    background-color: $salmon-color;
    color: white;
    text-decoration: none;
  }
}
