@import "../../global.scss";

.portfolioList {
  font-size: 18px;
  margin-right: 50px;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
  color: $secondColor;

  &.active{
    background-color: #f0f0f0;
  }
}
