@import "../../global.scss";

.works {
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scrollText {
  font-size: 1.5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 10rem;
  text-align: center;
  border-radius: 10px;
  height:80%;
}

.parallax {
  margin-right: 15%;
}

.sticky {
  margin-left: 10%;
}

.left-img{
  width: 32%;
}

.blue {
  background-color: #5b65ad;
  color: white;
}

.purple {
  background-color: #9d65d0;
}

.red {
  background-color: red;
}

@media (max-width: 750px) {
  .card {
    width: 40%;
  }

  .parallax {
    margin-right: 1.5rem;
  }

  .sticky {
    margin-left: 1.5rem;
  }
}
